#container {
    font-family: "Zain", sans-serif;
    font-family: "Zain", sans-serif;
    font-weight: 300;
    background-color: white;
    margin: auto;
    border: 4px solid black;
    text-align: center;
    width: 500px;
    font-size: xx-large;
    border-radius: 20px;
    margin-top: 100px;
}