body {
    background: #F6EFef;
    /* background-color: #c7eaf0; */
    color: #312B36;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.link-button {
    font-size: 1.5rem;
    background-color: #62c4cc;
    color: white;
    font-family: 'Zain', sans-serif;
}

.link-button:hover {
    background-color: #934f4f;
    color: white;
}

html {
    scroll-snap-type: y mandatory;
}
