body {
    background: #F6EFef;
    /* background-color: #c7eaf0; */
    color: #312B36;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}